@model IEnumerable<LibrarySite.Models.Publisher>

@{
    ViewBag.Title = "Publishers";
}
<div class="container" style="background-color:white;">
    <div class="jumbotron" style="background-image: url('../../Images/library5.jpg'); background-size: cover; ">
        <h1 style="color: white; text-shadow: 2px 2px #000000;">Publishers</h1>
    </div>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateFounded)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateFounded)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.PublisherID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.PublisherID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.PublisherID })
                </td>
            </tr>

        }

    </table>
</div>